.contAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 1rem;
  gap: 1rem;
}

.infoAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.titleAbout {
  font-size: clamp(1.7rem, 2.3vw, 2.8rem);
  color: hsl(261, 15%, 45%);
  font-weight: 650;
}

.skillsTitle {
  font-size: clamp(1.4rem, 2.3vw, 2.8rem);
  color: hsl(261, 15%, 45%);
  font-weight: 550;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.aboutLeft {
  text-align: center;
  font-size: clamp(1rem, 1.4vw, 2rem);
}

.aboutRight {
  background-color: #fcf3e1;
  width: 85%;
  min-height: 350px;
  display: flex;
  border-radius: 2rem;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0rem 1rem hsl(281, 39%, 71%);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.skillsIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27%;
  font-size: 3rem;
  color: #d7abd2;
}

@media (min-width: 583px) {
  .contAbout {
    margin-top: 3rem;
  }
  .infoAbout {
    display: flex;
    flex-direction: row;
  }

  .aboutLeft {
    padding-inline: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: left;
    font-weight: 500;
  }

  .aboutRight {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .titleAbout {
    margin-bottom: 2rem;
  }
}
