.contAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.contenidoSobreMi {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.aboutLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleAbout {
  font-size: clamp(1.7rem, 2.3vw, 2.8rem);
  color: #c287e5;
  font-weight: 650;
  border-bottom: 3px solid #f6cbce;
}

.subTitle {
  font-size: clamp(1.2rem, 1.8vw, 2.3rem);
  color: #caa3e1;
  font-weight: 600;
  margin-bottom: 3rem;
}

.contenidoEducación {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.educación {
  display: flex;
  gap: 1rem;
}

.icon {
  background-color: #caa3e1;
  color: #f7f7ff;
  border-radius: 50px;
  font-size: 50px;
  padding: 0.7rem;
}

.edTitle {
  font-weight: 600;
  font-size: 20px;
}

.institucion {
  font-weight: 500;
}

.fecha {
  background-color: #f6cbce;
  width: fit-content;
  padding-inline: 1rem;
  border-radius: 20px;
  color: #f7f7ff;
  font-weight: 700;
  font-style: italic;
}

.aboutRight {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.skills {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  color: #f7f7ff;
  font-weight: 500;
  margin: auto;
}

.skillsItem {
  background-color: #caa3e1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem;
  padding-inline: 1rem;
  border-radius: 50px;
  margin: 0.5rem;
  cursor: default;
  width: fit-content;
}

.skillsItem:hover {
  background-color: #f6cbce;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0px 10px #f6cbce;
  transition: all 0.2s ease;
}
.skillsIcon {
  font-size: 22px;
}

@media (min-width: 583px) {
  .contAbout {
    margin-top: 3rem;
    padding-inline: 5rem;
  }

  .contenidoSobreMi {
    gap: 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .aboutLeft {
    width: 50%;
    padding: 2rem;
    border-radius: 30px;
    height: 35rem;
  }

  .aboutRight {
    height: 35rem;
    width: 50%;
    padding: 2rem;
    border-radius: 30px;
  }

  .titleAbout {
    margin-bottom: 1.5rem;
    font-size: clamp(2.07rem, calc(1.73rem + 1.7vw), 3.05rem);
  }

  .subTitle {
    font-size: clamp(1.73rem, calc(1.48rem + 1.24vw), 2.44rem);
  }

  .contenidoEducación {
    gap: 6rem;
  }

  .edTitle {
    font-size: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
    font-weight: 700;
  }

  .institucion {
    font-size: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.56rem);
  }

  .fecha {
    font-size: clamp(1.25rem, calc(1.14rem + 0.54vw), 1.56rem);
    margin-top: 0.5rem;
  }

  .icon {
    font-size: 65px;
  }

  .skillsItem {
    font-size: clamp(1.2rem, calc(1.07rem + 0.63vw), 1.56rem);
  }

  .skillsIcon {
    font-size: 30px;
  }
}
