.homeContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.profilePic {
  width: 100%;
  border-radius: 1000px;
}

.imageBorder {
  border-radius: 900px;
  background-color: #caa3e1;
  padding: 1rem;
  max-width: 500px;
  display: flex;
}

.imageBorder:hover {
  background-color: #f6cbce;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 0px 10px #f6cbce;
  transition: all 0.2s ease;
}

.homeLeft {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
}

.hola {
  font-size: clamp(2.49rem, calc(2.03rem + 2.31vw), 3.82rem);
  font-weight: 700;
  color: #c287e5;
}

.titulo {
  font-size: clamp(2.07rem, calc(1.73rem + 1.7vw), 3.05rem);
  font-weight: 700;
  color: #c287e5;
}

.subtitulo {
  font-size: clamp(1.44rem, calc(1.26rem + 0.89vw), 1.95rem);
  font-weight: 550;
  margin-bottom: 0.75rem;
  background-color: #ae55e3;
  color: #f7f7ff;
  border-radius: 30px;
  padding-inline: 2rem;
  width: fit-content;
}

.descripcion {
  font-size: clamp(1rem, 1.4vw, 2rem);
  margin-bottom: 4rem;
}

@media (min-width: 583px) {
  .homeContenedor {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }

  .homeLeft {
    padding-inline: 2rem;
    width: 50%;
  }

  .subtitulo {
    font-weight: 600;
  }

  .descripcion {
    width: 100%;
  }
}
